.hero__section {
  padding-top: 220px;
}

.hero__img {
  position: absolute;
  top: 0;
  right: -150px;
  z-index: -1;
}

.hero__para {
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.button {
  margin-left: 20px;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .hero__img {
    display: none;
  }

  .hero__section {
    padding-top: 110px;
  }
}
