@import "../../ui/styles/colors";

nav {
  background-color: rgba($color: #fff, $alpha: 0.1);
  padding: 10px 0px;
  border-bottom: 1px #5f5f5f solid;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0px 4px 30px rgba($color: #000, $alpha: 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;

  ul {
    list-style: none;
    display: flex;
    gap: 30px;

    li:hover {
      text-decoration: underline;
    }
  }
}

.menu__btn {
  display: none;
}

.nav__flex__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: $offWhite;
}

.nav__socials__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials {
  height: 24px;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 500px) {
  .nav__socials__wrapper {
    display: none;
  }

  nav {
    ul {
      display: none;
    }
  }

  .menu__btn {
    display: block;
  }

  .nav__flex__wrapper {
    justify-content: space-between;
    align-items: center;
  }
}
